@import '../../scss/assets/variables';

// --------- item ----------
.item {
  background-color: #e7e8e6;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);
  border-radius: 24px;
  display: inline-block;
  width: 218px;
  height: 330px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  &.active {
    border: 2px solid rgba($main, 1);
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.31);
  }

  .item__content {
    margin-top: 10px;
    padding: 0 17px;
  }
  .content__minus {
    margin-top: -25px !important;
  }

  .item__img {
    width: 95%;
    height: 205px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    margin-top: -80px;
    transition: 0.3s;
  }
  .rotated {
    transform: rotate(-90deg);
  }

  .item__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    &.mini {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 5px;
    }
  }

  .item__text {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .item__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    position: absolute;
    left: 17px;
    bottom: 10px;
  }

  .item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 6px rgba(207, 189, 177, 0.64);
    &:hover {
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      transition: 0.2s;
      fill: #000000;
      width: 14px;
      height: 14px;
    }
  }
}

//Max-Width: 1200px ================================
@media (max-width: 1200px) {
  .item {
    margin-bottom: 90px !important;
    width: 190px;
    .item__img {
      height: 175px;
    }
    .item__title {
      font-size: 17px;
      margin-bottom: 6px;
    }
  }
}
//Max-Width: 1200px ================================
@media (max-width: 1200px) {
  .item {
    margin: 0 auto;
  }
}
//Max-Width: 900px ================================
@media (max-width: 900px) {
  .item {
    height: 355px;
    width: auto;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .item .item__img {
    width: 93%;
    height: 240px;
  }
  .item .item__content {
    margin-top: 10px;
  }
}
//Max-Width: 700px ================================
@media (max-width: 700px) {
  .item .item__img {
    width: 100%;
    height: 210px;
  }
}
//Max-Width: 700px ================================
@media (max-width: 700px) {
  .item .item__img {
    width: 90%;
    height: 230px;
  }
}
//Max-Width: 500px ================================
@media (max-width: 500px) {
  .item .item__img {
    height: 200px;
  }
}
//Max-Width: 400px ================================
@media (max-width: 400px) {
  .item {
    height: 345px;
    width: 80%;
  }
  .item .item__img {
    height: 220px;
  }
}
//Max-Width: 340px ================================
@media (max-width: 340px) {
  .item {
    height: 355px;
    width: 100%;
  }
  .item .item__img {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: -80px;
    height: 230px;
  }
}
