@import '../../scss/assets/variables';

// --------- popup ----------
.popup {
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    left: 0;
    top: 0;
  }

  &.active {
    opacity: 1;
    pointer-events: visible;
  }

  .box {
    position: relative;
    width: 65%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    border-radius: 15px;
  }
  .popup__box {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  .leftSide {
    box-shadow: 0px 4px 24px rgba(207, 189, 177, 0.5);
    position: relative;
    padding: 34px 53px;
    border-radius: 16px 0px 0px 16px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightSide {
    width: 40%;
    position: relative;
    padding: 34px 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popup__content {
    text-align: center;
    width: 100%;
  }

  .item__close {
    position: absolute;
    right: -50px;
    top: 0px;
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      filter: drop-shadow(0px 0px 15px rgba($main, 1));
      transform: scale(1.2);
    }
  }

  .item__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
  }

  .item__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .item__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }

  .item__info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .item__btn {
    position: relative;
    user-select: none;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    width: 60%;
    display: flex;
    margin: 0 auto;
    .content {
      transition: 0.3s;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }
    .added, .remove {
      transition: 0.3s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -200%);
    }
    p {
      margin-right: 27px;
    }
    svg {
      width: 20px;
      margin-bottom: 2px;
      fill: #000;
    }
    &:active {
      transform: scale(1.1);
    }
    
  }
  .active {
    .content {
      transform: translateY(200%);
    }
    .added {
      transform: translate(-50%, -50%);
    }
    &:hover {
      
      .added {
        transform: translate(-50%, 200%);
      }
      .remove {
        transform: translate(-50%, -50%);
      }
    }
  }

  .item__price {
    white-space: nowrap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 23px;
    line-height: 37px;
    b {
      margin-left: 10px;
      font-weight: 700;
      font-size: 32px;
      line-height: 51px;
    }
  }
}
.popup.mini {
  .box {
    width: 35%;
  }
  .leftSide {
    padding-top: 30px;
    width: 100%;
    border-radius: 15px;
  }
  .item__price {
    font-weight: 700;
    padding-top: 5px;
    margin-bottom: 0;
    margin-left: 35px;
  }
}

//Max-Width: 1435px ================================
@media (max-width: 1435px) {
  .popup .box {
    width: 80%;
  }
}
//Max-Width: 1200px ================================
@media (max-width: 1200px) {
  .popup {
    z-index: 1000;
    .rightSide {
      padding: 25px;
    }
    .item__price {
      font-size: 18px;
      line-height: 30px;
      b {
        font-size: 25px;
        line-height: 40px;
      }
    }
    .leftSide {
      padding: 25px;
    }
    .item__btn {
      width: 90%;
      white-space: nowrap;
      margin: 0 auto;
      font-size: 14px;
      line-height: 20px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
//Max-Width: 1023px ================================
@media (max-width: 1023px) {
  .popup.mini {
    .box {
      width: 45%;
    }
    .item__btn {
      width: 70%;
    }
  }
  .popup {
    .item__title {
      font-size: 20px;
      line-height: 26px;
    }
    .item__text {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    .item__info {
      margin-bottom: 20px;
    }
    .item__img {
      height: 280px;
    }
    .item__price {
      bottom: 10px;
    }
    .item__btn {
      width: 100%;
      white-space: nowrap;
    }
    .rightSide {
      padding: 25px 15px 55px;
    }
  }
}
//Max-Width: 800px ================================
@media (max-width: 800px) {
  .popup.mini {
    .box {
      height: auto;
      max-height: 95%;
      width: 60%;
    }
    .item__img {
      height: 350px;
    }
    .leftSide {
      padding: 35px 15px;
      height: 100%;
    }
    .item__btn {
      width: 70%;
    }
  }
  .popup {
    .box {
      height: 95%;
    }
    .popup__box {
      height: 100%;
      overflow: auto;
      display: block;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .leftSide {
      position: static;
      padding: 30px 33px 10px;
      width: 100%;
    }
    .rightSide {
      width: 100%;
      padding: 25px 15px;
    }
    .item__price {
      position: static;
      transform: none;
      width: auto;
    }
    .item__btn {
      width: 80%;
    }
  }
}
//Max-Width: 700px ================================
@media (max-width: 700px) {
  .popup {
    .item__close {
      right: -36px;
    }
    .leftSide {
      padding: 25px 15px 10px;
    }
  }
}
//Max-Width: 600px ================================
@media (max-width: 600px) {
  .popup.mini {
    .box {
      width: 80%;
    }
  }
}
//Max-Width: 500px ================================
@media (max-width: 500px) {
  .popup.mini {
    .box {
      width: 92%;
    }
    .item__btn {
      width: 85%;
    }
  }
  .popup {
    .box {
      width: 92%;
    }
    .item__close {
      right: 15px;
      top: 15px;
      fill: #000;
      z-index: 1500;
    }
    .item__btn {
      width: 85%;
    }
  }
}
//Max-Width: 400px ================================
@media (max-width: 400px) {
  .popup {
    .info h5 {
      top: 30px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .item__img {
      height: 230px;
    }
    .item__title {
      font-size: 18px;
      line-height: 24px;
    }
    .item__price {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
