@import '../../scss/assets/variables';

// --------- footer ----------
.footer {
  &__copy {
    padding: 13px 0;
    background-color: $main;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    b {
      font-weight: 700;
    }
  }
  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
    position: relative;
  }
  .line {
    position: absolute;
    width: 85%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .footer__logo {
    width: 260px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    width: 210px;
  }
  .footer__phones {
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    padding-left: 27px;
    // font-weight: 700;
    position: relative;
    max-width: 165px;
    a {
      white-space: nowrap;
      display: inline-block;
      color: $main;
      transition: 0.2s;
      &:hover {
        color: #000;
      }
    }
    .icon {
      position: absolute;
      left: 0;
      top: 0px;
      fill: $main;
      width: 17px;
      height: 17px;
    }
  }
  .footer__schedule {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    p:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  .soclist {
    display: flex;
    align-items: center;
  }
  .soclist__item {
    &:hover {
      svg {
        fill: #000;
      }
    }
    svg {
      transition: 0.2s;
      width: 20px;
      height: 20px;
      fill: $main;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

//Max-Width: 1023px ================================
@media (max-width: 1023px) {
  .footer {
    .footer__logo {
      width: 175px;
    }
    .footer__text {
      font-size: 14px;
      line-height: 22px;
      width: 190px;
    }
    .footer__schedule p:not(:last-child) {
      margin-bottom: 0;
    }
    .footer .footer__schedule {
      font-size: 14px;
      line-height: 22px;
    }
    .soclist__item:not(:last-child) {
      margin-right: 14px;
    }
  }
}
//Max-Width: 900px ================================
@media (max-width: 900px) {
  .footer {
    .footer__phones {
      svg {
        display: none;
      }
      a {
        display: block;
      }
      font-size: 14px;
      line-height: 24px;
      padding-left: 0px;
      max-width: none;
    }
  }
}
//Max-Width: 800px ================================
@media (max-width: 800px) {
  .footer {
    .footer__inner {
      display: grid;
      grid-template-areas:
        'box-1 box-2 box-2'
        'box-3 box-4 box-5';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
      width: 80%;
      margin: 0 auto;
      // justify-content: space-around;
    }
    .footer__logo {
      grid-area: box-1;
      width: 210px;
    }
    .footer__text {
      grid-area: box-2;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .footer__phones {
      grid-area: box-3;
      max-width: 150px;
      padding-left: 26px;
      margin: 0 auto;
      svg {
        display: block;
      }
    }
    .footer__schedule {
      grid-area: box-4;
      text-align: center;
    }
    .soclist {
      grid-area: box-5;
      justify-content: center;
    }
  }
}
//Max-Width: 641px ================================
@media (max-width: 641px) {
  .footer {
    .footer__inner {
      width: 90%;
      padding: 20px 0;
    }
    .footer__logo {
      grid-area: box-1;
      width: 100%;
      img {
        width: 80px;
        display: flex;
        margin: 0 auto;
      }
    }
    .footer__text {
      width: 90%;
    }
  }
}
//Max-Width: 500px ================================
@media (max-width: 500px) {
  .footer {
    .footer__inner {
      display: grid;
      grid-template-areas:
        'box-1 box-3 box-5'
        'box-1 box-4 box-5';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 12px;
      width: 100%;
      margin: 0 auto;
      // justify-content: space-around;
    }
    .footer__phones {
      padding-left: 0;
      max-width: none;
      svg {
        display: none;
      }
    }
    .footer__text {
      display: none;
    }
    .footer__schedule {
      font-size: 14px;
      line-height: 24px;
    }
    .soclist {
      flex-direction: column;
    }
    .soclist__item:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 12px;
    }
  }
  .footer__copy {
    padding: 8px 0;
    font-size: 10px;
    line-height: 14px;
  }
}
//Max-Width: 340px ================================
@media (max-width: 340px) {
  .footer {
    .footer__inner {
      display: grid;
      grid-template-areas:
        'box-1 box-3 box-5'
        'box-1 box-4 box-5';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 12px;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      padding: 15px 0;
    }
    .footer__logo {
      height: 100%;
      margin-top: 15px;
      justify-content: start;
      img {
        width: 65px;
        height: auto;
      }
    }
    .footer__phones {
      padding-left: 0;
      max-width: none;
      font-size: 14px;
      line-height: 26px;
      svg {
        display: none;
      }
    }
    .footer__schedule {
      font-size: 12px;
      line-height: 20px;
    }
    .soclist {
      flex-direction: column;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .soclist__item:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 12px;
    }
  }
}
