//Max-Width: 1350px ================================
@media (max-width: 1350px) {
  .items {
    .items__group-grid {
      grid-gap: 10px;
    }
  }
}

//Max-Width: 1023px ================================
@media (max-width: 1023px) {
  .popup {
    .counter {
      font-size: 16px;
    }
  }

  .cart {
    min-height: calc(100vh - 348px);
    .cart--right {
      width: calc(90% - 262px);
    }
    .cart__total-li {
      font-size: 18px;
      line-height: 26px;
    }
    .cart__total-btn {
      font-size: 18px;
      line-height: 26px;
      padding: 10px 15px;
    }
    .cart--left {
      margin-top: 70px;
      width: 262px;
    }
    .cart__total {
      margin-bottom: 40px;
    }
  }

  .items {
    margin-top: 55px;
    width: 100%;
    .items__group-grid {
      justify-content: center;
      align-items: center;
    }
  }
}

//Max-Width: 900px ================================
@media (max-width: 900px) {
  .cart {
    .cart__content {
      flex-direction: column;
    }
    .cart--left {
      order: 2;
      width: 80%;
      margin: 0 auto;
      margin-top: 80px;
    }
    .cart--right {
      order: 1;
      width: 100%;
    }
  }
  .items {
    margin-top: 55px;
    width: 100%;
    .items__group-title {
      font-size: 30px;
      margin-bottom: 64px;
    }
    .items__group-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .items__group {
      margin-bottom: 25px;
    }
  }
}

//Планшет #########################################
//Max-Width: 800px ================================
@media (max-width: 800px) {
  .cart {
    min-height: calc(100vh - 430px);
  }
}

//Max-Width: 750px ================================
@media (max-width: 750px) {
  .items {
    margin-bottom: 0;
  }
}

//Телефон #########################################
//Max-Width: 641px ================================
@media (max-width: 641px) {
  .cart {
    margin-top: 70px;
    .cart__back {
      font-size: 17px;
      line-height: 24px;
      svg {
        width: 19px;
        margin-right: 15px;
      }
    }
  }
  .items {
    margin-top: 85px;
    .items__group-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .items__group-title {
      font-size: 26px;
      margin-bottom: 85px;
    }
  }
  .cart {
    min-height: calc(100vh - 273px);
  }
}

//Max-Width: 600px ================================
@media (max-width: 600px) {
  .cart {
    .cart__back {
      position: absolute;
      top: 0;
      left: 15px;
      z-index: 100;
    }
    .cart__table {
      margin-top: 40px;
    }
    .cart__content {
      margin-bottom: 140px;
    }
    .counter {
      border-color: rgba(#000, 0.4);
      margin: 7px 0;
      .btn {
        padding: 3px 8px;
      }
      .number {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

//Max-Width: 500px ================================
@media (max-width: 500px) {
  .cart {
    .cart--left {
      width: 100%;
      margin-top: 60px;
    }
    .cart__total-li {
      font-size: 16px;
      line-height: 18px;
    }

    .cart__content {
      margin-bottom: 100px;
    }
  }
}

//Max-Width: 400px ================================
@media (max-width: 400px) {
  .container {
    padding: 0 10px;
  }
  .items .items__group {
    margin-bottom: -35px;
  }
  .items .items__group-grid {
    grid-template-columns: 50% 50%;
  }
  .cart {
    .cart__back {
      top: -5px;
      svg {
        width: 25px;
        height: 25px;
        margin-right: 0;
      }
      p {
        display: none;
      }
    }
  }
}
