// --------- footer ----------
.footer {
  &__copy {
    padding: 13px 0;
    background-color: $main;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    b {
      font-weight: 700;
    }
  }
  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
    position: relative;
  }
  .line {
    position: absolute;
    width: 85%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .footer__logo {
    width: 260px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    width: 210px;
  }
  .footer__phones {
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    padding-left: 27px;
    // font-weight: 700;
    position: relative;
    max-width: 165px;
    a {
      white-space: nowrap;
      display: inline-block;
      color: $main;
      transition: 0.2s;
      &:hover {
        color: #000;
      }
    }
    .icon {
      position: absolute;
      left: 0;
      top: 0px;
      fill: $main;
      width: 17px;
      height: 17px;
    }
  }
  .footer__schedule {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    p:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  .soclist {
    display: flex;
    align-items: center;
  }
  .soclist__item {
    &:hover {
      svg {
        fill: #000;
      }
    }
    svg {
      transition: 0.2s;
      width: 20px;
      height: 20px;
      fill: $main;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



// --------- item ----------
.item {
  background-color: #e7e8e6;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);
  border-radius: 24px;
  display: inline-block;
  width: 218px;
  height: 281px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.31);
  }

  .item__content {
    padding: 0 17px;
  }

  .item__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    margin-top: -80px;
    transition: 0.3s;
  }

  .item__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 11px;
    &.mini {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 5px;
    }
  }

  .item__text {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .item__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    position: absolute;
    left: 17px;
    bottom: 10px;
  }

  .item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 6px rgba(207, 189, 177, 0.64);
    &:hover {
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      transition: 0.2s;
      fill: #000000;
      width: 14px;
      height: 14px;
    }
  }
}

.main {
  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}

// --------- sidebar ----------
.sidebar {
  width: 20%;
  margin-right: 105px;
  padding-top: 40px;

  .sidebar__list {
  }

  .sidebar__list-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;

    svg {
      fill: #000;
      width: 40px;
      height: 40px;
      // margin-bottom: 10px;
    }

    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .sidebar__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .active {
    background-color: $main;
    pointer-events: none;
  }
}

// --------- items ----------
.items {
  width: 80%;
  margin-bottom: 120px;

  .items__group {
    padding-top: 20px;
    margin-bottom: 80px;
  }

  .items__group-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 80px;
    text-align: right;
  }

  .items__group-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 42px;
    justify-content: space-between;
  }

  .item {
    margin-bottom: 70px;
  }
}

// --------- cart ----------
.cart {
  min-height: calc(100vh - 373px);
  height: 100%;
  position: relative;
  .cart__inner {
  }

  .cart__back {
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    line-height: 35px;
    &:hover {
      svg {
        transform: translateX(-10px);
        fill: $main;
        filter: drop-shadow(0px 0px 10px rgba($main, 0.85));
      }

      p {
        color: $main;
        text-shadow: 0px 0px 2px rgba($main, 0.7);
      }
    }

    svg {
      transition: 0.2s;
      fill: #000;
      width: 27px;
      height: 16px;
      margin-right: 20px;
      margin-bottom: 5px;
    }

    p {
      transition: 0.2s;
    }
  }

  .cart__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
  }

  .cart--left {
    margin-top: 120px;
    width: 315px;
  }

  .cart__total {
    margin-bottom: 80px;
  }

  .cart__total-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    line-height: 35px;

    b {
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  .cart__total-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .cart--right {
    width: calc(90% - 315px);
  }

  .cart__clear {
    opacity: 0.35;
    font-size: 12px;
    line-height: 19px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 140px;
    margin-left: auto;
    &:hover {
      opacity: 1;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 13px;
    }
  }

  .cart__table {
    width: 100%;
    margin-top: 27px;
  }
}

// --------- cart__item ----------
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .cart__item-img {
    width: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart__item-name {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    width: 165px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .cart__item-price {
    font-size: 16px;
    line-height: 26px;
  }

  .cart__item-delete {
    opacity: 0.3;
    transition: 0.2s;

    svg {
      width: 22px;
      height: 22px;
      fill: #000;
    }

    &:hover {
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.cart__item-counter {
  font-size: 18px;
  line-height: 29px;
  padding: 0px 5px;
  border: 1px solid #000;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart__counter-btn {
    padding: 6px 8px;
    transition: 0.2s;

    &:hover {
      font-weight: 700;
    }
  }

  .cart__counter--minus {
  }

  .cart__counter-number {
    max-width: 30px;
    margin: 2px 5px 0;
    text-align: center;
  }

  .cart__counter--plus {
  }
}

// --------- empty ----------
.empty {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 140px;
  .empty__img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 55px;
  }

  .empty__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .empty__text {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.58);
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .empty__btn {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    padding: 10px 50px;
  }
}

// --------- item-popup ----------
.item-popup {
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    left: 0;
    top: 0;
  }

  &.active {
    opacity: 1;
    pointer-events: visible;
  }

  .popup {
    position: relative;
    width: 65%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    border-radius: 15px;
  }
  .popup__box {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  .popup--left {
    box-shadow: 0px 4px 24px rgba(207, 189, 177, 0.5);
    position: relative;
    padding: 34px 53px;
    border-radius: 16px 0px 0px 16px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .popup--right {
    width: 40%;
    position: relative;
    padding: 34px 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popup__content {
    text-align: center;
  }

  .item__close {
    position: absolute;
    right: -50px;
    top: 0px;
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      filter: drop-shadow(0px 0px 15px rgba($main, 1));
      transform: scale(1.2);
    }
  }

  .item__img {
    width: auto;
    height: 350px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
  }

  .item__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .item__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }

  .item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .item__counter {
    font-size: 23px;
    line-height: 37px;
    margin: 0 auto;
    border-color: rgba(#000, 0.3);
  }

  .cart__item-counter {
    font-size: 23px;
    line-height: 23px;
  }

  .cart__counter-btn {
  }

  .cart__counter--minus {
  }

  .cart__counter-number {
    padding-top: 3px;
  }

  .cart__counter--plus {
  }

  .item__btn {
    position: relative;
    user-select: none;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    .content {
      transition: 0.3s;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }
    .added {
      transition: 0.3s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -200%);
    }
    p {
      margin-right: 27px;
    }
    svg {
      width: 20px;
      margin-bottom: 2px;
      fill: #000;
    }
    &:active {
      transform: scale(1.1);
    }
    &.active {
      .content {
        transform: translateY(200%);
      }
      .added {
        transform: translate(-50%, -50%);
      }
    }
  }

  .item__price {
    white-space: nowrap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    // position: absolute;
    // left: 50%;
    // bottom: 20px;
    // transform: translateX(-50%);
    font-size: 23px;
    line-height: 37px;
    margin-bottom: 20px;

    b {
      margin-left: 10px;
      font-weight: 700;
      font-size: 32px;
      line-height: 51px;
    }
  }
}
.item-popup.mini {
  .popup {
    width: 35%;
  }
  .popup--left {
    padding-top: 30px;
    width: 100%;
    border-radius: 15px;
  }
  .item__flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
  }
  .item__price {
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.item__add {
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 37px;
  width: 270px;

  .item__add-title {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .item__add-list {
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
    overflow: auto;
    margin-bottom: -12px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.item__add-element {
  cursor: pointer;
  background-color: #e7e8e6;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  transition: 0.2s;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info {
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    // height: calc(100% + 0px);
    background-color: rgba(#e7e8e6, 0.5);
    // color: #fff;
    text-align: center;
    h5 {
      width: 90%;
      font-size: 14px;
      line-height: 18px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: capitalize;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .price {
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .check {
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    fill: $main;
  }
  &:hover {
    .info {
      opacity: 1;
    }
  }
  &.active {
    border: 2px solid $main;
    .check {
      opacity: 1;
    }
  }
}

// --------- btn-up ----------
.btn-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main;
  position: fixed;
  right: 30px;
  bottom: 50px;
  box-shadow: 0px 0px 10px rgba($main, 0.7);
  transform: translateX(100px);
  svg {
    fill: #000;
    width: 18px;
    height: 18px;
    z-index: 100;
  }
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: translateX(0px) scale(1.1) !important;
  }
  &.show {
    transform: translateX(0px);
  }
}
