.main {
  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}

// --------- items ----------
.items {
  width: 80%;
  margin-bottom: 120px;

  .items__group {
    padding-top: 20px;
    margin-bottom: 80px;
  }

  .items__group-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 80px;
    text-align: right;
  }

  .items__group-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 42px;
    justify-content: space-between;
  }

  .item {
    margin-bottom: 70px;
  }
}

// --------- cart ----------
.cart {
  min-height: calc(100vh - 373px);
  height: 100%;
  position: relative;
  .cart__inner {
  }

  .cart__back {
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    line-height: 35px;
    &:hover {
      svg {
        transform: translateX(-10px);
        fill: $main;
        filter: drop-shadow(0px 0px 10px rgba($main, 0.85));
      }

      p {
        color: $main;
        text-shadow: 0px 0px 2px rgba($main, 0.7);
      }
    }

    svg {
      transition: 0.2s;
      fill: #000;
      width: 27px;
      height: 16px;
      margin-right: 20px;
      margin-bottom: 5px;
    }

    p {
      transition: 0.2s;
    }
  }

  .cart__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
  }

  .cart--left {
    margin-top: 120px;
    width: 315px;
  }

  .cart__total {
    margin-bottom: 80px;
  }

  .cart__total-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    line-height: 35px;

    b {
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  .cart__total-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .cart--right {
    width: calc(90% - 315px);
  }

  .cart__clear {
    opacity: 0.35;
    font-size: 12px;
    line-height: 19px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    margin-left: auto;
    &:hover {
      opacity: 1;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 13px;
    }
  }

  .cart__table {
    width: 100%;
    margin-top: 27px;
  }
}

.popup {
  .counter {
    margin: 0 auto;
    font-size: 23px;
    line-height: 23px;
  }
  .counter__btn {
  }
  .minus {
  }
  .number {
    padding-top: 3px;
  }
  .plus {
  }
}